.mainContainer{
    font-family: 'Courier New', Courier, monospace;
}
.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
    grid-row: 2 / 3;
    display: grid;
    margin-top: 110px;
  }

  .mainContainer{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px 500px;
  }
  
  .header{
    display: grid;
    grid-template-columns: 100px auto;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .sidebarButton{
    max-width: 100%;
    height: auto;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
.currentView{
    grid-column: 1 / 2;
}
.headerTitle{
    place-self: center;
    font-size: 80px;
}

.taskTitle{
    font-family: 'Courier New', Courier, monospace;
}